.container {
  text-align: center;
  padding: 2% 5%;
}
h1 {
  font-size: 4em;
  color: #61dafb;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.9);
}
.container-input {
  display: inline-block;
}
input, button.add {
  border: none;
  padding: 15px 30px;
}
input:focus, button:focus {
  outline: none;
}
input {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #8e8e8e;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
}
input:focus {
  border-bottom: 1px solid #61dafb;
  transition: all 1s;
}
button.add {
  background-color: #61dafb;
  border-bottom: 1px solid #61dafb;
  margin-left: 10px;
  transition: all 0.2s;
}
button.add:hover {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.9);
}
p {
  margin: 2em 0;
}
table {
  display: inline-block;
  margin: 2em 0;
}
td:last-of-type {
  width: 450px;
  text-align: left;
}